---
---

@import "{{ site.theme }}";
@import "jekyll-theme-modernist";

h1 {
  color: #000000;
}

.normal-link {
  font-weight: normal;
}

body {
    background: linear-gradient(to bottom, #444969, #333857);
}

section {
  color: #000000;
  font-size: 17px;
}

.custom-class {
  font-size: 20px;
  margin: 10px 0;
}