<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head-custom.html %}
</head>
<body>
<div class="wrapper">
    <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1 style="color: #000000;">{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.description or site.github.project_tagline %}
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
        <ul>
            {% if site.show_downloads %}
            <li><a href="{{ '/assets/files/tanasevskyi_cv_sdeit.pdf' }}">Download <strong>CV.pdf</strong></a></li>
             <li><a href="{{ 'https://www.linkedin.com/in/autotesting/' }}">Open <strong>LinkedIn</strong></a></li>
            {% endif %}
            <li><a href="{{ 'https://app.skillsclub.com/credential/62359-3b2ce1a143c798c85162418fdcf2905fd5178b3e1747dc42265c1705ad203b65' }}">View <strong>ISTQB</strong></a></li>
        </ul>
    </header>
    <section>

        {{ content }}

    </section>
</div>
<footer>
    {% if site.github.is_project_page %}
    <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
    <p>Theme by <a href="https://github.com/orderedlist" class="normal-link">orderedlist</a></p>
</footer>
<!--[if !IE]><script>fixScale(document);</script><![endif]-->
</body>
</html>